<div class="contenedor_info_proyecto1">


    <h4>Informacion del proyecto <img src="../../assets/informacion.png" alt="icono informacion" width="32px"></h4>

<div class="contenedor">
    <img class="imagen_api_rest" src="../../assets/proyectoInventario.png" alt="imagen proyecto portafolio">

    <div class="descripcion">

        <h5>¿Que es?</h5>
        <p>Es una API REST.</p>
        <h5>¿Para que sirve?</h5>
        <p>Esta api rest sirve como sistema de gestión de Stock.</p>
        <h5>¿Que tecnologias utiliza?</h5>
        <p> HTML 
            <br>CSS
            <br>TYPESCRIPT
            <br>ANGULAR
            <br>BOOTSTRAP
            <br>JAVA
            <br>SPRING BOOT
            <br>JWT
            <br>JPA
            <br>MYSQL
        </p>
        <p>Si deseas ver el código fuente haz click en el siguiente botón</p>
        <a href="https://github.com/cartaza-dev/proyecto_api_rest" class="btn"><span>Github </span><img  src="../../assets/github.png" alt=""></a>
    </div>

</div>
</div>

<div class="boton_volver">
    <a [routerLink]="['/proyectos']" class="btn">Volver</a>
</div>