 <!--Contenedor de Pie de pagina-->
<footer class="footer">
    <p class="footer_titulo"> < Carla > </p>
    <div class="footer_redes">
        <a href="https://github.com/cartaza-dev"><img src="../../assets/github.png" class="footer_icono" alt="icono github"> </a>
        <a href="https://www.linkedin.com/in/carla-artaza/"><img src="../../assets/linkedin.png" class="footer_icono" alt="icono linkedin"></a>
    </div>
    <p class="email">carlaartaza-dev@outlook.com</p>
    <p class="frase_final">Sitio web creado con <span class="corazon"><img src="../../assets/corazon.png" alt="corazon"></span> por <span class="nombre"> Carla Artaza</span></p>
</footer>