<!--Contenedor principal de proyecto-->
<div class="contenedor_info_proyecto1">

    <h4>Informacion del proyecto <img src="../../assets/informacion.png" alt="icono informacion" width="32px"></h4>


<div class="contenedor">
    <img class="imagen_portafolio" src="../../assets/imagen_portafolio.png" alt="imagen proyecto portafolio">

    <div class="descripcion">

        <h5>¿Que es?</h5>
        <p>Es un sitio web  desarrollado con tecnologia SPA.</p>
        <h5>¿Para que sirve?</h5>
        <p>Este sitio web cumple el papel de portafolio personal.</p>
        <h5>¿Que tecnologias utiliza?</h5>
        <p> HTML 
            <br>CSS
            <br>TYPESCRIPT
            <br>ANGULAR
            <br>BOOTSTRAP
        </p>
        <p>Si deseas ver el código fuente haz click en el siguiente botón</p>
        <a href="https://github.com/cartaza-dev/portfolio" class="btn"><span>Github </span><img  src="../../assets/github.png" alt=""></a>
    </div>

</div>
</div>

<div class="boton_volver">
    <a [routerLink]="['/proyectos']" class="btn">Volver</a>
</div>