 <!--Contenedor principal de proyectos-->
<div class="caja_projects">

    <h2>
        Proyectos
    </h2>

 <!--Contenedor de proyecto individual-->
    <div class="proyectos">
        <div class="proyecto">
            <img src="../../assets/imagen_portafolio.png" alt="">
            <h5>Proyecto Frontend</h5>
            <div class="boton_mas">
            <a [routerLink]="['/proyecto1']"class="verCodigo  btn"><img src="../../assets/anadir.png" alt=""> <span>Mas info</span></a>
           </div>
        </div>



  <!-- SE COMENTAN ESTOS PROYECTOS YA QUE DEBO CORREGIRLOS -->
        <div class="proyecto">
            <img src="../../assets/imagen_proyecto_api.png" alt="">
            <h5>Proyecto Backend</h5>
            <div class="boton_mas">
                <a [routerLink]="['/proyecto2']"class="verCodigo  btn"><img src="../../assets/anadir.png" alt=""> <span>Mas info</span></a>
               </div>
        </div>

        <div class="proyecto">
            <img src="../../assets/imagen_android.jpg" alt="">
            <h5>Aplicacion android</h5>
            <div class="boton_mas">
                <a [routerLink]="['/proyecto3']"class="verCodigo  btn"><img src="../../assets/anadir.png" alt=""> <span>Mas info</span></a>
            </div>
        </div>

    </div>




</div>


