<!--Contenedor principal de datos de contacto-->
<div class="contacto_contenedor">

    <h2>
        Contacto
    </h2>
    <p>Ponte en contacto</p>


    <!--Contenedor con flex con datos de contacto y redes-->
    <div class="contacto_info">

        <!--Contenedor de datos ubicacion y correo-->
        <div class="contacto_datos">
            <p><img src="../../assets/pin-de-ubicacion.png" alt="icono ubicacion"><span> Ubicación: </span> </p>
            <p class="info">Córdoba, Argentina</p>
            <p class="email"><img src="../../assets/email.png" alt="icono ubicacion"><span> Email:</span></p>
            <p class="info">carlaartaza-dev@outlook.com</p>


        </div>

        <!--Contenedor de datos de redes sociales-->
        <div class="contacto_redes">
            <p>Podes encontrarme también <br> en<span> Redes sociales</span></p>
            <a href="https://github.com/cartaza-dev"><img src="../../assets/github.png" class="contacto_icono"
                    alt="icono github"> </a>
            <a href="https://www.linkedin.com/in/carla-artaza"><img src="../../assets/linkedin.png"
                    class="contacto_icono" alt="icono linkedin"></a>
        </div>

    </div>

</div>