<div class="contenedor_info_proyecto1">


    <h4>Informacion del proyecto <img src="../../assets/informacion.png" alt="icono informacion" width="32px"></h4>

<div class="contenedor">
    <img class="imagen_proyecto_android" src="../../assets/imagen_app_android.jpeg" alt="imagen proyecto android">

    <div class="descripcion">

        <h5>¿Que es?</h5>
        <p>Es una aplicación móvil para dispositivos con el sistema operativo Android.</p>
        <h5>¿Para que sirve?</h5>
        <p>Esta aplicación móvil tiene la funcionalidad de inicio de sesion <br> y muestra informaciòn de una base de datos.</p>
        <h5>¿Que tecnologias utiliza?</h5>
        <p> JAVA
            <br>SQLITE
        </p>
        <p>Si deseas ver el código fuente haz click en el siguiente botón</p>
        <a href="https://github.com/cartaza-dev/proyecto_movil_android" class="btn"><span>Github </span><img  src="../../assets/github.png" alt=""></a>
    </div>

</div>


</div>

<div class="boton_volver">
    <a [routerLink]="['/proyectos']" class="btn">Volver</a>
</div>