/*Estilos del contenedor principal*/

.contenedor_info_proyecto1{
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 30px ;
    margin-bottom: 70px;
    padding-bottom: 50px;
    background-color: var(--color-primario);
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    animation: aparece 1500ms;
}

/* Animaciòn general al iniciar */
@keyframes aparece {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*Estilos del titulo "Informacion de proyecto"*/
.contenedor_info_proyecto1 h4{
    padding: 10px;
    padding-top: 20px;
}

/*Estilos del contenedor de toda la descripciòn del proyecto */
.contenedor_info_proyecto1 .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 600;
}

/*Contenedor del texto*/
.contenedor .descripcion{
   padding: 55px 20px 10px 20px;
   }

/*Texto descripcion proyecto*/
.contenedor .descripcion p{
 color: var(--color-secundario);
}


/*Estilos del boton github*/
.contenedor .descripcion a{
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    background-color: var(--color-secundario);
    line-height: 40px;
   }
/* Texto del boton github */
   .contenedor .descripcion a span{
   padding-right: 3px;
   }

/*Imagen del proyecto*/
.contenedor .imagen_proyecto_android{
    width: auto;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*Estilo del icono del boton github*/

.descripcion img{
    width: 25px;
    height: 25px;
}

/*Estilos del boton volver*/
.boton_volver{
    width: 100px;
    margin: 50px 30px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    text-align: center;
    animation: aparece 1500ms;
   
}

.boton_volver a{
    color: white;
    font-weight: 600;
}

/*MEDIA QUERYS*/

/*Si es pantalla chica el contenedor baja para dar lugar al boton volver*/
@media(max-width:999px){
    .contenedor_info_proyecto1{
            margin-top: 20px ;
    }
   
    
    
}

/*Ajuste de tamaño de imagen del proyecto*/
@media(max-width:600px){
    .contenedor_info_proyecto1{
        width: 90%;
}
    .contenedor .imagen_proyecto_android{
       
    }
}

@media(max-width:380px){
    
    .contenedor .imagen_proyecto_android{
       width: 200px;
       height: auto;
    }
    .carousel{
        padding: 0px !important;
    }
}

/*Ajuste del padding del texto al ser pantalla grande*/
@media(min-width:1100px){
    .contenedor .descripcion{
      
    }
}

@media(max-width:300px){
    .contenedor .descripcion a{
        width: 116px;
    }
}