<div class="contenedor_info_proyecto1">


    <h4>Informacion del proyecto <img src="../../assets/informacion.png" alt="icono informacion" width="32px"></h4>

<div class="contenedor">
    <!--<img class="imagen_proyecto_android" src="../../assets/imagen_app_android.jpeg" alt="imagen proyecto android"> -->

    <div id="carouselExample" class="carousel p-5">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imagen_app_android.jpeg" alt="imagen proyecto login" class="w-80  imagen_proyecto_android">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_info.jpeg" alt="imagen proyecto login" class=" w-80 imagen_proyecto_android">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_contacto.jpeg" alt="imagen proyecto login" class="  w-80 imagen_proyecto_android">
          </div>

          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_registro.jpeg" alt="imagen proyecto login" class=" w-80  imagen_proyecto_android">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_olvido_clave.jpeg" alt="imagen proyecto login" class=" w-80  imagen_proyecto_android">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_login.jpeg" alt="imagen proyecto login" class="w-80  imagen_proyecto_android">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_panel.jpeg" alt="imagen proyecto login" class="w-80  imagen_proyecto_android">
          </div>
           <div class="carousel-item">
            <img src="../../assets/imagen_app_android_perfil.jpeg" alt="imagen proyecto login" class="w-80  imagen_proyecto_android">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_libros.jpeg" alt="imagen proyecto login" class="w-80  imagen_proyecto_android">
          </div>

          <div class="carousel-item">
            <img src="../../assets/imagen_app_android_gestion_libro.jpeg" alt="imagen proyecto login" class="w-80  imagen_proyecto_android">
          </div>


        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="descripcion">

        <h5>¿Que es?</h5>
        <p>Es una aplicación móvil para dispositivos con el sistema operativo Android.</p>
        <h5>¿Para que sirve?</h5>
        <p>Esta aplicación móvil tiene la funcionalidad de inicio de sesion <br> y muestra informaciòn de una base de datos.</p>
        <h5>¿Que tecnologias utiliza?</h5>
        <p> JAVA
            <br>SQLITE
        </p>
        <p>Si deseas ver el código fuente haz click en el siguiente botón</p>
        <a href="https://github.com/cartaza-dev/android__login_crud_java_sqlite" class="btn"><span>Github </span><img  src="../../assets/github.png" alt=""></a>
    </div>

</div>


</div>

<div class="boton_volver">
    <a [routerLink]="['/proyectos']" class="btn">Volver</a>
</div>