
<!--Componente principal, con saludo y foto-->
<section class="home" >


    <div class="home_saludo">
        <h1 class="home_titulo" >Hola, <br>Soy<span class="home_tituloColor"> Carla</span> <br> Desarrolladora Web</h1>
        
    <p>Es un placer para mi escribir código, amo lo que hago y soy fan de los desafíos!
        Si querés que forme parte de tu equipo, o necesitas desarrollar tu sitio web, <a [routerLink]= "['/contacto']"><span>Contáctame!</span></a>
    </p>
   <!-- <a [routerLink]= "['/contacto']" class="btn boton_contacto">Contacto</a> -->
    </div>

    <div class="home_img">
        <img class="img" src="../../assets/foto_perfil.png" alt="">
    </div>

</section>



