/* Estilos del contenedor principal footer */
.home {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 450px;
    animation: aparece 1500ms;
    margin-top: 80px;
    margin-bottom: 30px;
}

/* Animaciòn general al iniciar */
@keyframes aparece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Estilos de la imagen de perfil */
.img {
    width: 300px;
    height: auto;
    padding-top: 20px;
}

/* Estilos del contenedor del saludo "Hola soy Carla..." */
.home_saludo {
    padding-top: 30px;
    font-weight: 600;

}

.home_saludo p {
    width: 350px;

}

.home_saludo p span {
    text-decoration: underline;
    font-weight: 700;
    color: var(--color-primario);

}

/* Estilos del saludo */
.home_titulo {
    color: var(--color-secundario);
}

/* Estilos de "Carla" */
.home_tituloColor {
    color: var(--color-primario);
}

/* Estilos del boton de redireccion a componente Contacto*/

.boton_contacto {
    background-color: var(--color-primario);
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}




/* MEDIA QUERYS */

/*Hasta 720px*/
@media (max-width: 720px) {
    .home_saludo p {
        width: 300px;

    }
}

/*Hasta 639px*/
@media (max-width: 639px) {
    .home {
        height: auto;
    }

    .home_saludo {
        padding-top: 0px;
        width: 60%;
    }

    .home_saludo p {
        width: auto;

    }
}

/*Hasta 360px*/
@media (max-width: 360px) {
    .home {
        margin: 50px 0px 50px 0px;
        height: auto;
    }

    .img {
        width: 200px;
        padding-top: 30px;

    }


}